/*---------- IMPORT ----------*/
/*#141e30*/
/*#96163f*/
/*#ffffff*/
/*---------- DEFINE FONT AND TYPOGRAPHY ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE FOR ANIMATION ----------*/
/*---------- IMPORT ----------*/
/*#141e30*/
/*#96163f*/
/*#ffffff*/
/*---------- DEFINE FONT AND TYPOGRAPHY ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE FOR ANIMATION ----------*/
/*#141e30*/
/*#96163f*/
/*#ffffff*/
/*---------- DEFINE FONT AND TYPOGRAPHY ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE FOR ANIMATION ----------*/
.my-projects .project, .my-setup .slide .component, header .header-right,
header .header-left, .copyright, footer .footer-menu img,
footer .footer-menu i, footer .footer-menu, footer .footer-logo, nav .nav-menu, main hr, main a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-setup .slide, .my-setup, footer .footer-menu a, footer .footer-menu i, nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-projects .project::before, .my-projects .project, footer .footer-menu a::before, footer .footer-menu a, footer::before, footer, nav::before, nav, main hr::before, main hr, main a::before, main a {
  transition: 0.5s;
  background: linear-gradient(to right, #001e50 0%, #00437a 50%, #001e50 100%);
  background-size: 200% auto;
}

/*---------- BASE ----------*/
* {
  font-size: 1rem;
  color: #001e50;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*---------- REUSEABLE ----------*/
main {
  width: 82vw;
  margin: auto;
}
main a {
  position: relative;
  color: #ffffff;
}
main a::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}
main a:hover,
main a:hover::before {
  background-position: right center;
}
main a {
  padding: 1rem 3rem;
}
main hr {
  position: relative;
  color: #ffffff;
}
main hr::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}
main hr:hover,
main hr:hover::before {
  background-position: right center;
}
main hr {
  height: 0.5vh;
  border-radius: 1rem;
  border: 0;
}

h1, h2, h3, h4 {
  color: #00437a;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

/*---------- NAV ----------*/
nav {
  position: relative;
  color: #ffffff;
}

nav::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}

nav:hover,
nav:hover::before {
  background-position: right center;
}

nav {
  background: #ffffff;
  padding: 1vh 10vw;
  height: 5vh;
}
nav .nav-menu .active,
nav .nav-menu a:hover {
  background: linear-gradient(to right, #001e50 0%, #00437a 100%);
  color: #ffffff;
}
nav .nav-menu .active i,
nav .nav-menu a:hover i {
  color: #ffffff;
}

/*---------- FOOTER ----------*/
footer {
  position: relative;
  color: #ffffff;
}

footer::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}

footer:hover,
footer:hover::before {
  background-position: right center;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(to right, #001e50 0%, #00437a 100%);
  padding: 1vh 10vw;
  margin-top: 5vh;
  height: 30vh;
}
footer .footer-logo img {
  width: 20vw;
  height: auto;
}
footer .footer-menu {
  flex-direction: column;
}
footer .footer-menu a {
  position: relative;
  color: #ffffff;
}
footer .footer-menu a::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}
footer .footer-menu a:hover,
footer .footer-menu a:hover::before {
  background-position: right center;
}
footer .footer-menu a, footer .footer-menu i {
  margin: 0.2rem;
  width: 20vw;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  font-size: 1rem;
}
footer .footer-menu a:hover {
  border-bottom: 1px solid #ffffff;
}
footer .footer-menu img,
footer .footer-menu i {
  color: #ffffff;
  height: 1.4rem;
  width: 1.4rem;
}

.copyright {
  background: linear-gradient(to right, #001e50 0%, #00437a 100%);
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 0.5rem;
}

/*---------- HEADER ----------*/
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 95vh;
}
header .header-right,
header .header-left {
  flex-direction: column;
}
header .header-right a,
header .header-left a {
  margin-top: 2.5rem;
}

/*---------- MY SETUP ----------*/
.my-setup {
  flex-direction: column;
  position: relative;
}
.my-setup .slide {
  height: 40vh;
}
.my-setup .slide .component {
  flex-direction: column;
  width: 10rem;
  height: 100%;
  margin: 5rem;
  transition: 0.5s;
}
.my-setup .slide .component img {
  height: 30%;
}
.my-setup .slide .component:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.my-setup a {
  padding: 0.5rem 2rem;
}
.my-setup .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.my-setup .arrow i {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.1rem;
}
.my-setup .arrow-left {
  left: 0;
}
.my-setup .arrow-right {
  right: 0;
}
.my-setup .dots {
  text-align: center;
}
.my-setup .dots .dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.2rem;
  background-color: #b2b2b2;
  border-radius: 1rem;
  display: inline-block;
}
.my-setup .dots .active, .my-setup .dots .dot:hover {
  background-color: #001e50;
}

/*---------- MY PROJECTS ----------*/
.my-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.my-projects .project {
  position: relative;
  color: #ffffff;
}
.my-projects .project::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}
.my-projects .project:hover,
.my-projects .project:hover::before {
  background-position: right center;
}
.my-projects .project {
  height: 70vh;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #ffffff;
}
.my-projects .project img {
  height: 10rem;
  width: auto;
  margin: 3rem;
}
.my-projects .project p {
  height: 25vh;
}/*# sourceMappingURL=index.css.map */