@charset "UTF-8";
/*---------- IMPORT ----------*/ /*#141e30*/
/*#96163f*/
/*#ffffff*/
/*---------- DEFINE FONT AND TYPOGRAPHY ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE FOR ANIMATION ----------*/
/*#141e30*/
/*#96163f*/
/*#ffffff*/
/*---------- DEFINE FONT AND TYPOGRAPHY ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE FOR ANIMATION ----------*/
.copyright, footer .footer-menu img,
footer .footer-menu i, footer .footer-menu, footer .footer-logo, nav .nav-menu, main hr, main a {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-menu a, footer .footer-menu i, nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-menu a::before, footer .footer-menu a, footer::before, footer, main hr::before, main hr, main a::before, main a {
  transition: 0.5s;
  background: linear-gradient(to right, #141e30 20%, #243b55 51%, #141e30 80%);
  background-size: 200% auto;
}

nav::before, nav {
  transition: 0.5s;
  background: linear-gradient(to right, #141e30 20%, rgb(255, 255, 255) 51%, #141e30 80%);
  background-size: 200% auto;
}

/*---------- BASE ----------*/
* {
  font-size: 1rem;
  color: #141e30;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*---------- REUSEABLE ----------*/
main {
  width: 82vw;
  margin: auto;
}
main a {
  position: relative;
  color: rgb(255, 255, 255);
}
main a::before {
  content: "←";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(0.5rem);
}
main a:hover,
main a:hover::before {
  background-position: right center;
}
main a {
  padding: 1rem 3rem;
}
main hr {
  position: relative;
  color: rgb(255, 255, 255);
}
main hr::before {
  content: "←";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(0.5rem);
}
main hr:hover,
main hr:hover::before {
  background-position: right center;
}
main hr {
  height: 0.5vh;
  border-radius: 1rem;
}

h1, h2, h3, h4 {
  color: #243b55;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

/*---------- NAV ----------*/
nav {
  position: relative;
  color: rgb(255, 255, 255);
}

nav::before {
  content: "←";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(0.5rem);
}

nav:hover,
nav:hover::before {
  background-position: right center;
}

nav {
  background: rgb(255, 255, 255);
  padding: 1vh 10vw;
  height: 5vh;
}
nav .nav-menu a:hover {
  background: linear-gradient(to right, #141e30 20%, #243b55 100%);
  color: rgb(255, 255, 255);
}
nav .nav-menu a:hover i {
  color: rgb(255, 255, 255);
}

/*---------- FOOTER ----------*/
footer {
  position: relative;
  color: rgb(255, 255, 255);
}

footer::before {
  content: "←";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(0.5rem);
}

footer:hover,
footer:hover::before {
  background-position: right center;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(to right, #141e30 20%, #243b55 100%);
  padding: 1vh 10vw;
  margin-top: 5vh;
  height: 30vh;
}
footer .footer-logo img {
  width: 20vw;
  height: auto;
}
footer .footer-menu {
  flex-direction: column;
}
footer .footer-menu a {
  position: relative;
  color: rgb(255, 255, 255);
}
footer .footer-menu a::before {
  content: "←";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(0.5rem);
}
footer .footer-menu a:hover,
footer .footer-menu a:hover::before {
  background-position: right center;
}
footer .footer-menu a, footer .footer-menu i {
  margin: 0.2rem;
  width: 20vw;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  font-size: 1.4rem;
}
footer .footer-menu a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}
footer .footer-menu img,
footer .footer-menu i {
  color: rgb(255, 255, 255);
  height: 1.4rem;
  width: 1.4rem;
}

.copyright {
  background: linear-gradient(to right, #141e30 20%, #243b55 100%);
  color: rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  padding: 0.5rem;
}/*# sourceMappingURL=master.css.map */